In [1]:
print("episode: {}/{}, time: {}, rep: {}, Session: {:.2}".format("friends", 113, 12.30, 2, 5.786) )

episode: friends/13, time: 12.3, rep: 2, Session: 5.8

In [27]:
print ( "My name is %s %d %f" % ('Anshuman' ,1, 14.6), "That's it ")

My name is Anshuman 1 14.600000 That's it

In [3]:
name = "ABX"
type_of_company = "XYZ"

print(f"{name} is an {type_of_company} company.")

ABX is an XYZ company.

In [4]:
2 == 2

True

In [5]:
2 == 2.

True

In [6]:
x = 5
y = 10
z = 8
print(x > y)
print(y > z)

False
True

In [7]:
x, y, z = 5, 10, 8
print(x > z)
print((y - 5) == x)

False
True

In [8]:
x, y, z = 5, 10, 8
x, y, z = z, y, x
print(x > z)
print((y - 5) == x)

True
False

In [9]:
x = 10
if x == 10:
    print(x == 10)

if x > 5:
    print(x > 5)

if x < 10:
    print(x < 10)
    
else:
    print("else")

True
True
else

In [10]:
# 3.1

number1 = int(input("Enter a number: "))
print(number1 > 99)

True

In [11]:
n = 3
while n > 0:
    print(n + 1)
    n -= 1
else:
    print(n)

4
3
2
0

In [12]:
n = range(4)
n

range(0, 4)

In [13]:
n = range(4)
for num in n:
    print(num - 1)
else:
    print(num)

-1
0
1
2
3

In [14]:
n = range(4)
for num in n:
    print(num - 1)

-1
0
1
2

In [39]:
n = range(2,6,1)
type(n)

range

In [40]:
list(n)

[2, 3, 4, 5]

In [32]:
for i in range(0, 6, 3):
    print(i)

0
3

In [41]:
x = 1
y = 0
z = ((x == y) and (x == y)) or not(x == y)
print(not(z))

False

In [18]:
x = 4
y = 1
a = x & y
b = x | y
c = ~x # tricky!
d = x ^ 5
e = x >> 2
f = x << 2
print(a, b, c, d, e, f)

0 5 -5 1 1 16

& 	AND	Sets each bit to 1 if both bits are 1  
|	OR	Sets each bit to 1 if one of two bits is 1  
^	XOR	Sets each bit to 1 if only one of two bits is 1  
~ 	NOT	Inverts all the bits  
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off  
'>> Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

In [43]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

c = a & b;        # 12 = 0000 1100
print ("Line 1 - Value of c is ", c)

c = a | b;        # 61 = 0011 1101 
print ("Line 2 - Value of c is ", c)

c = a ^ b;        # 49 = 0011 0001
print ("Line 3 - Value of c is ", c)

c = ~a;           # -61 = 1100 0011
print ("Line 4 - Value of c is ", c)

c = a << 2;       # 240 = 1111 0000
print ("Line 5 - Value of c is ", c)

c = a >> 2;       # 15 = 0000 1111
print ("Line 6 - Value of c is ", c)

Line 1 - Value of c is  12
Line 2 - Value of c is  61
Line 3 - Value of c is  49
Line 4 - Value of c is  -61
Line 5 - Value of c is  240
Line 6 - Value of c is  15

In [19]:
lst = [1, 2, 3, 4, 5]
lst.insert(1, 6)
print(lst)
del lst[0]
print(lst)
lst.append(1)
print(lst)

[1, 6, 2, 3, 4, 5]
[6, 2, 3, 4, 5]
[6, 2, 3, 4, 5, 1]

In [20]:
lst = [1, 2, 3, 4, 5]
lst_2 = []
add = 0
for number in lst:
    add += number
    print(number,add)
    lst_2.append(add)
print(lst_2)

1 1
2 3
3 6
4 10
5 15
[1, 3, 6, 10, 15]

In [21]:
lst = []
del lst
print(lst)

NameError: name 'lst' is not defined

In [44]:
lst = [1, [2, 3], 4]

print(lst[1])
print(len(lst))

[2, 3]
3

In [45]:
# 3.2
# Read two numbers
number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))
# Choose the larger number
if number1 > number2:
    larger_number = number1
else:
    larger_number = number2
# Print the result
print("The larger number is:", larger_number)

The larger number is: 1

In [46]:
# Read two numbers
number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))
# Choose the larger number
if number1 > number2: larger_number = number1
else: larger_number = number2
# Print the result
print("The larger number is:", larger_number)

The larger number is: 1

In [48]:
# Read three numbers
number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))
number3 = int(input("Enter the third number: "))
# We temporarily assume that the first number is the largest one.
# We will verify this soon.
largest_number = number1
# We check if the second number is larger than current largest_number and update largest_number if needed.
if number2 > largest_number: largest_number = number2
# We check if the third number is larger than current largest_number and update largest_number if needed.
if number3 > largest_number: largest_number = number3
# Print the result
print("The largest number is:", largest_number)

The largest number is: 3

In [49]:
# 3.3

year = int(input("Enter a number:"))
if(year % 4 != 0):
    print("Common1")
elif(year % 100 != 0):
    print("Leap1")
elif(year % 400 != 0):
    print("Common2")
else:
    print("Leap2")

Common2

In [50]:
# 3.4

secret_number = 777

guess = 0
while(guess != secret_number):
    guess = int(input("Enter a number:"))
    if(guess != secret_number):
        print("Ha ha! You're stuck in my loop!")

print("Well done, muggle! You are free now.")

Ha ha! You're stuck in my loop!
Well done, muggle! You are free now.

In [54]:
# 3.4

secret_number = 777

guess = 0
while(guess != secret_number):
    guess = int(input("Enter a number:"))
    if(guess != secret_number):
        print("Ha ha! You're stuck in my loop!")

print("Well done, muggle! You are free now.")

Well done, muggle! You are free now.

In [55]:
# 3.5

word = ''

while (True):
    word = input("Enter a word: ")
    if(word == "chupacabra"):
        break

print("yes")

yes

In [56]:
user_word = input("Enter a word: ")
user_word = user_word.upper()

word_without_vowels = ""

for letter in user_word:
    if(letter not in ["A","E","I","O","U"]):
        word_without_vowels += letter

print(word_without_vowels)

BSTMS

In [ ]:
# 3.6

number = int(input("Enter a number: "))
c = 0
while(number != 1):
    if(number % 2 == 0):
        number = number // 2
    else: number = number * 3 + 1
    print(number)
    c += 1

print("Steps:",c)

46
23
70
35
106
53
160
80
40
20
10
5
16
8
4
2
1
Steps: 17

In [57]:
# 3.7

hat_list = [1, 2, 3, 4, 5] # This is an existing list of numbers hidden in the hat.
# Step 1: write a line of code that prompts the user
# to replace the middle number with an integer number entered by the user.

middle_number = int(input("Enter a number:"))
hat_list[2] = middle_number
print("Csere\n", hat_list)
# Step 2: write a line of code that removes the last element from the list.
hat_list.pop()
print("Pop\n", hat_list)
# Step 3: write a line of code that prints the length of the existing list.
print("len\n",len(hat_list))

Csere
 [1, 2, 3, 4, 5]
Pop
 [1, 2, 3, 4]
len
 4

In [58]:
# 3.8

beatles = []

# step 1
print("Step 1:", beatles)

beatles.append("John Lennon")
beatles.append("Paul McCartney")
beatles.append("George Harrison")

# step 2
print("Step 2:", beatles)

members = ["Stu Sutcliffe"," Pete Best"]

for i in range(len(members)):
    beatles.append(members[i])

# step 3
print("Step 3:", beatles)   

beatles.remove("Stu Sutcliffe")
print("Step 3,5:", beatles)   
del beatles[3]

# step 4
print("Step 4:", beatles)

beatles.insert(0,"Ringo Starr")

# step 5
print("Step 5:", beatles)

# testing list legth
print("The Fab", len(beatles))

Step 1: []
Step 2: ['John Lennon', 'Paul McCartney', 'George Harrison']
Step 3: ['John Lennon', 'Paul McCartney', 'George Harrison', 'Stu Sutcliffe', ' Pete Best']
Step 3,5: ['John Lennon', 'Paul McCartney', 'George Harrison', ' Pete Best']
Step 4: ['John Lennon', 'Paul McCartney', 'George Harrison']
Step 5: ['Ringo Starr', 'John Lennon', 'Paul McCartney', 'George Harrison']
The Fab 4

In [59]:
list_1 = ["A", "B", "C"]
list_2 = list_1
list_3 = list_2
del list_1[0]
del list_2[0]
print(list_2)

['C']

In [60]:
list_1 = ["A", "B", "C"]
list_2 = list_1
list_3 = list_2
del list_1[0]
del list_2
print(list_3)

['B', 'C']

In [61]:
list_1 = ["A", "B", "C"]
list_2 = list_1
list_3 = list_2

list_1[:]

['A', 'B', 'C']

In [62]:
list_1 = ["A", "B", "C"]
list_2 = list_1
list_3 = list_2
del list_1[0]
del list_2[:]
print(list_3)

[]

In [63]:
list_1 = ["A", "B", "C"]
list_2 = list_1[:]
list_3 = list_2[:]

del list_1[0]
del list_2[0]
print(list_3)

['A', 'B', 'C']

In [64]:
my_list = [1, 2, "in", True, "ABC"] 
print(1 in my_list) # outputs True 
print("A" not in  my_list) # outputs True 
print(3 not in my_list) # outputs True 
print(False in my_list) # outputs False

True
True
True
False

In [65]:
lst = ["D", "F", "A", "Z"]
lst.sort()
print(lst)

['A', 'D', 'F', 'Z']

In [66]:
a = 3
b = 1
c = 2
lst = [a, c, b]
lst.sort()
print(lst)

[1, 2, 3]

In [67]:
a = "A"
b = "B"
c = "C"
d = " "
lst = [a, b, c, d]
lst.reverse()
print(lst)

[' ', 'C', 'B', 'A']

In [ ]:
lst = ["123","456"]
print(lst)
lst.reverse()
print(lst)

In [68]:
# 3.9

my_list = [1, 2, 4, 4, 1, 4, 2, 6, 2, 9]
print (my_list)
 
res = []
for i in my_list:
    if i not in res:
        res.append(i)
 
print ("The list after removing duplicates : ",res)

[1, 2, 4, 4, 1, 4, 2, 6, 2, 9]
The list after removing duplicates :  [1, 2, 4, 6, 9]

In [69]:
# 3.10


def is_prime(num):
    for i in range(2,num):
        if(num % i == 0):
            return False
            break
    else: return True

for i in range(1, 20):
    if is_prime(i + 1):
        print(i + 1, end=" ")

2 3 5 7 11 13 17 19

In [78]:
# 3.11

# 1 American mile = 1609.344 metres
# 1 American gallon = 3.785411784 litres.
# 100 kmre elég üzemanyag
# 1 mérföldre elég üzemanyag

#100kmre ennyi liter
def liters_100km_to_miles_gallon(liters):
    return 0

# 1 gallonból ennyi mérföld
def miles_gallon_to_liters_100km(miles):
    #1 gallonból ennyi méter
    meter = miles * 1609.344

    #1 gallonból ennyi km
    km = meter / 1000

    #1 literből ennyi km
    liter = km / 3.785411784

    # 100kmre ennyi liter
    res = 100 / liter
    return res

# print(liters_100km_to_miles_gallon(3.9))
# print(liters_100km_to_miles_gallon(7.5))
# print(liters_100km_to_miles_gallon(10.))
print(miles_gallon_to_liters_100km(60.3))
print(miles_gallon_to_liters_100km(31.4))
print(miles_gallon_to_liters_100km(23.5))

3.9007393587617467
7.490910297239916
10.009131205673757

In [71]:

def hi():
    print("hi!")
hi()

hi!

In [73]:
def hi():
    return
    print("Hi!")
hi()

In [74]:
def intro(a="James Bond", b="Bond"):
    print("My name is", b + ".", a + ".")
intro()

My name is Bond. James Bond.

In [80]:
## a,c,b

def add_numbers(a,b=2,c):
    print(a + b + c)

add_numbers(a=1, c=3)

SyntaxError: non-default argument follows default argument (91131370.py, line 3)

In [75]:
## a,c,b

def add_numbers(a, c, b=2):
    print(a + b + c)

add_numbers(a=1, c=3)

6

In [82]:
def is_int(data):
    if type(data) == int:
        return True
    elif type(data) == float:
        return False
    return

print(is_int(5))
print(is_int(5.0))
print(is_int("5"))

True
False
None

In [83]:
def message():
    alt = 1
    print("Hello, World!")
    return
    
print(alt)

NameError: name 'alt' is not defined